header p {
  font-family: 'oswald';
  font-size: 500%;
  margin: auto;
  padding: auto;
  text-align: center;
}

aqui paralax

body {
  background-color: whitesmoke;
}

main p {
  font-family: 'oswald';
  font-size: 20px;
  text-align: justify;

}

main h1 {
  font-family: 'oswald';


}

/*NAVBAR-INICIO-*/
ul {
  display: flex;
  margin: auto;
  justify-content: space-between;
  text-align: center;
}

li a {
  font-family: 'Gill Sans';
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  margin: auto;
  padding: auto;
  min-width: 80px;
}

li:hover {
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}

li:active {
  transform: translateY(2px);
}

ul.no-bullets {
  list-style-type: none;
  /*nav bar fixa */
  position: sticky;
  top: 0;
  /* acrescenta fundo á nav bar*/
  background-color: whitesmoke;
}

/*NAVBAR-FIM-*/

footer {
  background-color: whitesmoke;
  color: rgb(16, 14, 14);
  padding: 20px;
  text-align: center;
  position: sticky;
}

footer p {
  font-family: 'gill sans';
  font-size: small;
}

footer a {
  color: black;
  font-size: 35px;
}

/* Make the footer responsive */
@media (max-width: 600px) {
  footer {
    padding: 1px;
  }
}