header p {
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 500%;
}

body {
    background-color: whitesmoke;
}

main {
    
}

main p {
    font-family: 'Sofia sans extra condensed', sans-serif;
    font-size: 150%;
    text-align: justify;
    
}